body {
    color: black;
    background-color: white;
    font-size: 12px;
    margin: 5%;
}

.title {
    font-size: 12px;
    text-align: center;
}

form {
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 0;
}

input {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    margin: 15px 0;
    display: block;
    max-width: 80vw;

    border: 2px solid red;
    border-radius: 2px;
    display: block;
}

input::placeholder {
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: red;
}

button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 2px;
    margin: 1% 0;
}

mark {
    background-color: black;
    color: black;
}

::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}