body {
    color: black;
    background-color: white;
    font-size: 12px;
    margin: 5%;
}

a.mint-link {
    display: block;
    margin: 50px auto;
    text-align: center;
}

button.mint {
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 12px;
    border-radius: 2px;
    padding: 10px 10px;
    margin: auto;
    border: 1px solid white;
    max-width: 100vw;
    min-width: calc(90vw);
    animation: background-color-change 10s infinite;
}

button.mint:hover {
    background-color: black;
    color: white;

    cursor: pointer;
    font-style: italic;
    animation: none;
}

#submitted {
    display: none;
}

.title {
    font-size: 12px;
    text-align: center;
    margin: 50px 0;
}

form {
    font-family: 'Times New Roman', Times, serif;
    padding: 25px 0;
    text-align: center;
}

input {
    font-size: 12px;
    text-align: center;
    padding: 10px 0px;
    margin: 10px auto;
    display: block;
    max-width: 100vw;
    min-width: calc(90vw);

    border: 1px solid black;
    border-radius: 2px;
    display: block;
    animation: border-color-change 10s infinite;
}

input::placeholder {
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
}

button {
    /* font-family: 'Times New Roman', Times, serif; */
    background-color: black;
    color: black;
    font-weight: bold;

    font-size: 12px;
    border-radius: 2px;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid white;
    max-width: 100vw;
    min-width: calc(10vw);

    animation: background-color-change 10s infinite;
}

mark {
    background-color: black;
    color: black;
}

::-moz-selection {
    /* Code for Firefox */
    color: black;
    background: black;
}

::selection {
    color: black;
    background: black;
}

video {
    max-width: 90vw;
    margin: 10% auto;
    display: block;
}

@keyframes background-color-change {
    0% {
        background-color: #f68fed;
    }

    25% {
        background-color: #a990f5;
    }

    50% {
        background-color: #92f0ea;
    }

    75% {
        background-color: #ebf994;
    }

    100% {
        background-color: #f99592;
    }
}


@keyframes border-color-change {
    0% {
        border-color: #f68fed;
    }

    25% {
        border-color: #a990f5;
    }

    50% {
        border-color: #92f0ea;
    }

    75% {
        border-color: #ebf994;
    }

    100% {
        border-color: #f99592;
    }
}